<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Alex Andersons' Portfolio</title>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>

    <link rel='stylesheet' href='src/site.css'>

    </head>

    <body ng-app="ResumeApp" ng-controller="ResumeController as controller" ng-cloak layout="row" >

        <div flex="15" class="gutter"> </div>

        <div layout="column" layout="center none" flex>

            <div layout="column" layout-align="center center" class="body-header site-heading-background" layout-padding layout-margin>

                <h1 class="md-display-4" ><strong>Resume Potfolio</strong></h1>

                <div class="body-subheading" layout="row" layout-align="start stretch">
                    <h3 class="md-headline"><strong>Alex Anderson</strong> - .NET Software Engineer</h3>
                </div>

            </div>

            <!-- About Me! -->
            <div id="about-me" layout="row" layout-align="start none" class="about-me container"
                md-whiteframe="10" layout-margin>

                <div layout-padding layout-margin>
                    <img class="img-circle img-md" src="resources/alex.jpg" / />
                </div>

                <div flex layout="column" layout-padding>

                    <h3 class="md-title">
                        Hi, I'm Alex. I am a Currently a <strong>Software Architect</strong> based in Bury St Edmunds, Suffolk.
                    </h3>

                    <h4 class="md-subhead">
                        <strong>Software</strong> - I have always been passionate about Software from reading and teaching myself after School through reading Computer Science at The University of Portsmouth.
                        Since I graduated in 2014 I have pursed a career in Softwre Engineering and currently Hold the Position of Software Architect for a Automotive Supplier working on real-time data Analytic Solutions.
                    </h4>



                </div>
            </div>


            <!-- Traits -->
            <div id="traits" layout="row" layout-align="space-around center" layout-margin>

                <div layout="column" layout-align="center center" flex="20">
                    <img class="img-circle img-small" src="resources/passion.png" />
                    <h2>Passionate</h2>
                    <p class="align-middle">
                        I Take pride in my Work, always ready to give 100% to the Job at hand.
                    </p>
                </div>

                <div layout="column" layout-align="center center" flex="20">
                    <img class="img-circle img-small" src="resources/team.png" />
                    <h2>Team Player</h2>
                    <p class="align-middle">
                        I Enjoy working with others.
                    </p>
                </div>

                <div layout="column" layout-align="center center" flex="20">
                    <img class="img-circle img-small" src="resources/brain.png" />
                    <h2>Open Minded</h2>
                    <p class="align-middle">
                        ???
                    </p>
                </div>

            </div>

            <hr class="rule" />

            <div layout layout-align="center center">
                <h1 class="md-display-4" >Skill Set</h1>
            </div>

            <!-- Tech -->
            <div id="skills" layout="row" layout-align="start none" class="skills-me container" >

                <div flex="33" layout="column" >

                    <div class="net-card" md-whiteframe="10" layout-margin layout-padding layout="row" flex="33"
                         ng-click="controller.setActiveCompetancy(0)">
                        <img class="img-icon" src="https://camo.githubusercontent.com/682541f39216718f231683a21e0b131a67d532c3/68747470733a2f2f73332d75732d776573742d322e616d617a6f6e6177732e636f6d2f7465737464726976656e6c6561726e696e676275636b65742f4353484152502e706e67" />
                        <p class="md-subhead">
                            Fully Experianced Full Stack .NET Developer, including; Websites, Desktop Solutions and Server Apps.
                        </p>

                    </div>

                    <div class="db-card" md-whiteframe="10" layout-margin layout-padding layout="row" flex="33"
                        ng-click="controller.setActiveCompetancy(1)">
                        <img class="img-icon" src="https://docs.microsoft.com/en-us/azure/media/index/sqldatabase.svg" />
                        <p class="md-subhead">
                            Fully Experienced SQL Database designer and developer, using both MSSQL and Oracle.

                        </p>
                    </div>

                    <div class="arch-card" md-whiteframe="10" layout-margin layout-padding layout="row" flex="33"
                         ng-click="controller.setActiveCompetancy(2)">
                        <img class="img-icon" src="http://deviq.com/wp-content/uploads/Application-Layers.png" />
                        <p class="md-subhead">
                            Code Solution Design and Software Architecture
                        </p>
                    </div>

                </div>

                <div md-whiteframe="10" flex layout-margin layout-padding
                    ng-style="controller.activeCompetancyStyle">
                    <h1 class="md-display-1"><strong>{{controller.activeCompetancy.Title}}</strong></h1>

                    <p class="md-subhead">
                        {{controller.activeCompetancy.Intro}}
                    </p>

                    <p class="md-body-2">
                        {{controller.activeCompetancy.Body}}
                    </p>

                    <p class="md-body-2">
                        {{controller.activeCompetancy.Footer}}
                    </p>
                </div>

            </div>

            <div id="competancyTech" layout="row" layout-align="space-around stretch" layout-margin>

                <div md-whiteframe="10" layout="column" layout-padding layout-align="center center" flex="20"
                      ng-repeat="tech in controller.activeCompetancy.Technologies"
                      ng-style="controller.activeCompetancyStyle">
                    <h2 class="md-subhead align-middle" >{{tech}}</h2>
                </div>
            </div>


            <div layout layout-align="center center">
                <h1 class="md-display-3" >Other Interests</h1>
            </div>

            <div id="traits" layout="row" layout-align="space-around stretch" layout-margin>

                <div md-whiteframe="10" layout="column" layout-padding layout-align="center center" flex="20"
                      ng-repeat="tech in controller.Technologies">

                    <img class="img-non-sq" src="{{tech.Icon}}" />
                    <h2>{{tech.Name}}</h2>
                    <p class="align-middle">
                        {{tech.Description}}
                    </p>
                </div>
            </div>

            <div layout layout-align="center center">
                <h1 class="md-display-4" >Projects &amp; Example Work</h1>
            </div>

            <!-- Projects -->

            <div id="about-me" layout="row" layout-align="start none" class="about-me container"
                md-whiteframe="10" layout-margin>

                <div layout-padding layout-margin>
                    <img class="img-circle img-md" src="resources/alex.jpg" / />
                </div>

                <div flex layout="column" layout-padding>

                    <h3 class="md-title">
                        Hi, I'm Alex. I am a Currently a <strong>Software Architect</strong> based in Bury St Edmunds, Suffolk.
                    </h3>

                    <h4 class="md-subhead">
                        <strong>Software</strong> - I have always been passionate about Software from reading and teaching myself after School through reading Computer Science at The University of Portsmouth.
                        Since I graduated in 2014 I have pursed a career in Softwre Engineering and currently Hold the Position of Software Architect for a Automotive Supplier working on real-time data Analytic Solutions.
                    </h4>



                </div>
            </div>



        </div>

        <div flex="15" class="gutter"> </div>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script src="src/angular-chart-js.min.js"></script>

    <script src="src/resume.js"/></script>

    </body>
</html>
