body {

    min-height:100%; height:auto;
}

/* ***************
    LAYOUT
*/
h3 {
    margin: 0px;
}
.container {
    margin-top: 30px;
    margin-bottom: 60px;
}
.container-no-top {
    margin-top: -30px !important;
    margin-bottom: 60px;
}

/* ***************
    TEXT
*/
.align-middle {
    text-align: center;
}

/* ***************
    IMAGE
*/
.img-icon {
    width: 72px;
    height: 72px;
}
.img-small {
    width: 128px;
    height: 128px;
}
.img-thumb {
    width: 227px;
    height: 128px;
}
.img-md {
    width: 256px;
    height: 256px;
}
.img-non-sq {
    width: 152px;
}
.img-circle {
    border-radius: 50%;
}

/* ***************
    Skill Cards
*/
.c-sharp-file {
    background-color: #690081;
    color: white;
}
.c-sharp-file a, a:link, a:visited {
    color: white;
    text-decoration: none;
}
.net-card {
    background-color: #690081;
    color: white;
}
.db-card {
    background-color: #0072C6;
    color: white;
}
.arch-card {
    background-color: #FFC000;
    color: black;
}

.veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }
